@use 'colors.scss' as *;

#data-panel {
    width: 100%;
    height: 250px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    background: linear-gradient(180deg, rgba(24, 27, 33, 0.95), rgba(18, 20, 25, 0.95));
}

#data-panel-popup-container {
    position: absolute;
    left: 50px;
    top: 50px;
}

#data-panel-popup-label {
    background-color: rgba(29, 32, 38, 0.95);
    color: $text-primary;
    border: 1px solid rgba(255, 255, 255, 0.14);
}

#data-controls-container {
    width: 256px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
}

#data-controls {
    width: 100%;
}

.control-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.control-label {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 28px;
    margin: 0px 5px;
    color: #ccd1d9;
}

.control-element {
    flex-shrink: 0;
    flex-grow: 0;
}

.control-element-expand {
    flex-grow: 1;
}

.control-element.pcui-boolean-input {
    margin-top: 7px;
}

#histogram-container {
    flex-grow: 1;
    flex-shrink: 1;
}

#histogram-canvas {
    image-rendering: pixelated;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#histogram-svg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
